<div class="post">
  <img src="<%= blog.imgUrl %>" alt="<%= blog.title %>">
  <div class="content">
    <h3><a href="/blog/<%= blog.title %>"><%= blog.title %></a></h3>
    <p><%= blog.body %></p>
  </div>
</div>
